@import '../../../styles/variables';

.gallery {
  display: grid;
  place-items: stretch;
  place-content: stretch;
  grid-template-columns: repeat(2, 15rem) 25rem repeat(3, 15rem) 25rem;
  grid-template-rows: 50% 50%;
  grid-template-areas: "img1 img1 img4 img5 img5 img6 img9"
                       "img2 img3 img4 img7 img8 img8 img9";


  @media screen and (max-width: $max-width-screen-small) {
    grid-template-columns: repeat(2, 12.5rem) 20rem repeat(3, 12.5rem) 20rem;
  }

  @media screen and (max-width: $max-height-screen-smallest) {
    grid-template-rows: repeat(2, 12.5rem) 30rem repeat(3, 12.5rem) 30rem;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'img1 img1'
                         'img2 img3'
                         'img4 img4'
                         'img5 img5'
                         'img6 img7'
                         'img8 img8'
                         'img9 img9';
  }
}
