.gallery__interactive-image {
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}

.interactive-image__wrapper {
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &::after {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      opacity: 0;
    }

    & .gallery__interactive-image {
      transform: scale(1.05);
    }
  }
}
