@import '../../../styles/variables';

.contact {
  display: flex;
  background-image: url("../../../images/overlay.png"), linear-gradient(45deg, rgba(114, 97, 147, 0.175) 25%, rgba(227, 123, 124, 0.175) 50%, rgba(255, 228, 180, 0.175));
  background-size: 128px 128px, auto;
  background-color: #323459;

  @media screen and (max-width: $max-width-screen-smallest) {
    flex-direction: column;
  }
}
