$white-heading: rgba(255, 255, 255, 0.875);
$white-text: rgba(255, 255, 255, 0.75);


$max-width-screen-bid: 1680px;
$max-width-screen-medium: 1280px;
$max-width-screen-small: 736px;
$max-width-screen-smallest: 480px;

$max-height-screen-smallest: 480px;

$min-width-screen-small: 737px;
$min-width-screen-smallest: 481px;
